<html>
<<<<<<< HEAD
<style type="text/css">
p.one
{
width: 100px; height: 50px;
border-style: solid;

}
tr.row{width:100px;height:50px;}
</style>
   <body>
      <img src="/Users/rashmisahu/voylla/voylla{{image1.picture.url}}"/>
   	<h1><strong>DOMINANT COLORS IN THE UPLOADED IMAGE:</strong><br/><br/></h1>
      
            <table style="display: inline-block;float: left;">
      
      {% for x in colors %}
   	  <tr> <th><p class="one" style="background-color:{{x}};"></p></th>
         <th>{{x}}</th>
         </tr>
         
      {% endfor %}
      </table>
      <table style="display: inline-block;">
         <tr><th>Percentage of Colors</th></tr>
         {% for x in percentage %}
        <tr class="row"> 
         <th>{{x}}</th>
         </tr>
         
      {% endfor %}</table>
=======
   <body>
   	<strong>DOMINANT COLORS IN THE UPLOADED IMAGE:</strong><br/><br/>
   	   {{colors}}
>>>>>>> 7d6df7c242ad001e1a94fe60da89408db4821faa
   	  <br/>
   	  <br/><br/>

   	  {% load static %}

      {% if saved %}
         <strong>Your image was saved.</strong>
      {% endif %}
      
      {% if not saved %}
         <strong>Your image was not saved.</strong>
      {% endif %}
      
      
      
      
   </body>
</html>